<aside class="sidebar">
  <h2>What's New</h2>
  <p><strong>NEW!</strong> Added facts about dial-up Internet.</p>
  <p><strong>NEW!</strong> More coming soon!</p>

  <h2>Cool Links</h2>
  <ul>
    <li>
      <a href="https://archive.org/web/" target="_blank">Internet Archive</a>
    </li>
    <li>
      <a href="https://www.webdesignmuseum.org/" target="_blank"
        >Web Design Museum</a
      >
    </li>
  </ul>
</aside>
