<aside class="sidebar">
  <h2>What's New</h2>

  <p>
    <strong>07/21/2026</strong><br />
    Express.js routing for all pages!
  </p>

  <p>
    <strong>07/21/2026</strong><br />
    Added Wayback Machine integration!
  </p>

  <p>
    <strong>07/20/2026</strong><br />
    Who's Online? feature is live.
  </p>

  <p>
    <strong>07/19/2026</strong><br />
    Internet Fortune of the Day added.
  </p>

  <p>
    <strong>07/18/2026</strong><br />
    New Internet Slang page uploaded.
  </p>

  <h2>Cool Links</h2>
  <ul>
    <li>
      <a href="https://archive.org/web/" target="_blank">Internet Archive</a>
    </li>
    <li>
      <a href="https://www.webdesignmuseum.org/" target="_blank"
        >Web Design Museum</a
      >
    </li>
  </ul>
</aside>
