<nav>
  <a href="index.html" class="active">Home</a>
  <a href="connection.html">How We Connected</a>
  <a href="websites.html">Popular Websites</a>
  <a href="modern.html">Then to Now</a>
  <a href="sources.html">Sources</a>
</nav>
