<aside class="sidebar">
  <%- include("fortune") %>

<div class="online-box">

    <h2>Who's Online?</h2>

    <img
        src="/img/online_now.gif"
        class="online-gif"
        alt="Online Now"
    >

<ul class="buddy-list">
  <% screenNames.forEach((name) => { %>
    <li>
      <span class="online-status">●</span>
      <span class="screen-name"><%= name %></span>
    </li>
  <% }) %>
</ul>

</div>
</aside>
