<aside class="sidebar">
  <h2>Fun Fact</h2>
  <p>
    A common dial-up speed was only <strong>56 Kbps</strong>. Today, many home
    Internet connections are thousands of times faster.
  </p>

  <h2>Top Sites Back Then</h2>
  <ul>
    <li>Yahoo!</li>
    <li>AOL</li>
    <li>MSN</li>
    <li>MySpace</li>
  </ul>
</aside>
